# No directories under $HOME are on fp by default, so we need to add our
# overrides here..
xset fp+ $HOME/.fonts/terminess-powerline

# Force my .Xresources file to be merged without -nocpp.
USRRESOURCES=$HOME/.Xresources

# Start compton if it's not already running, since otherwise chrome freaks out
# on Ubuntu Trusty.
compton -b --paint-on-overlay

# gnome-screensaver is annoying, lock with xscreensaver.
xscreensaver -no-splash &
