# No directories under $HOME are on fp by default, so we need to add our
# overrides here..
xset fp+ $HOME/.fonts/terminess-powerline

# Force my .Xresources file to be merged without -nocpp.
USRRESOURCES=$HOME/.Xresources

# gnome-screensaver is annoying, lock with xscreensaver.
xscreensaver -no-splash &

# Configure the monitor
[ -f $HOME/.screenlayout/screenlayout.sh ] && \
  source $HOME/.screenlayout/screenlayout.sh

exec $HOME/bin/xmonad
